asgiref
cachetools
certifi
charset-normalizer
Django
django-redis
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
googleapis-common-protos
gspread
httplib2
idna
marshmallow
oauthlib
packaging
protobuf
psycopg2-binary
pyasn1
pyasn1-modules
pyparsing
python-dotenv
requests
requests-oauthlib
rsa
simplejson
six
sqlparse
uritemplate
urllib3
